/* FEATURES  */
.content {
  margin: 0 auto;
  max-width: 1220px;
}
.featuresContent {
  margin: 0 20px;
}
.featuresH2 {
  font-family: /* "Roboto" */'__Inter_36bd41';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #172755;
  margin: 50px auto 20px;
  text-align: center;
}
.featuresP {
  font-family:  /* "Roboto" */'__Inter_36bd41';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #8794ba;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.features {
  margin-top: 40px;
}
.feature {
  display: flex;
  margin-top: 35px;
}
.featureIcon {
  display: flex;
}
.featureText {
  margin-left: 28px;
}
.featureH4 {
  font-family:  /* "Roboto" */'__Inter_36bd41';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #172755;
  margin: 0;
}
.featureP {
  font-family:  /* "Roboto" */'__Inter_36bd41';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8794ba;
  margin: 8px 0 0;
}

/* SERVICES  */
.screens {
  margin: 70px 20px 0px;
}
.screen {
  display: flex;
  flex-direction: column-reverse;
}
.screenx {
  display: flex;
  flex-direction: column-reverse;
}
.screenGrafic {
  display: flex;
  justify-content: center;
  margin: 20px auto 60px;
  box-shadow: 0px 18px 50px -15px rgb(25 42 89 / 20%);
  border-radius: 30px;
}
.screenText {
  margin: 0;
}
.screenH4 {
  font-family:  /* "Roboto" */'__Inter_36bd41';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #172755;
  margin: 0;
  text-align: center;
}
.screenP {
  font-family:  /* "Roboto" */'__Inter_36bd41';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #8794ba;
  margin: 20px 0 10px 0;
  text-align: center;
}

/* MEDIA */

@media (min-width: 500px) {
  .featuresH2 {
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
  .featuresContent {
    margin: 0 60px;
  }
  .screens {
    margin: 70px 60px 0px;
  }
}

@media (min-width: 630px) {
  .featureP {
    margin-top: 16px;
    font-size: 16px;
    line-height: 22px;
  }
  .featuresP {
    font-size: 18px;
    line-height: 27px;
  }
  .screenP {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (min-width: 767px) {
  .features {
    display: flex;
    justify-content: space-between;
  }
  .feature {
    flex-direction: column;
    width: 30.5%;
    align-items: center;
  }
  .featureIcon {
    margin-bottom: 26px;
  }
  .featureText {
    margin-left: 0;
  }
  .featureH4 {
    text-align: center;
  }
  .featureP {
    text-align: center;
  }
  .screens {
    margin-top: 100px;
  }
  .screen {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .screenx {
    flex-direction: row;
  }
  .screenText {
    padding-right: 40px;
    margin-bottom: 30px;
    width: 470px;
  }
  .screenTextx {
    padding: 0 0 0 40px;
  }
  .screenH4 {
    text-align: left;
  }
  .screenP {
    text-align: left;
  }
}

@media (min-width: 1056px) {
  .featuresP {
    text-align: center;
  }
  .featureP {
    text-align: center;
  }
  .screenH4 {
    font-size: 40px;
    line-height: 47px;
  }
}
