@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.imageHero {
  background-image: url('/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fondo-forms {
  background-image: url('/e4.png');
  background-size: cover;
  background-repeat: no-repeat;
}
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.2s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  color: #fffd;
  font-size: 12.5px;
  position: absolute;
  background: #444;
  padding: 1px 6px 3px;
  white-space: nowrap;
  z-index: 99999;
  border-radius: 6px;
  bottom: 100%;
  opacity: 0;
  margin-bottom: 4px;
  visibility: hidden;
}
[data-title] {
  position: relative;
}

