@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* .imageFormAuto {
  background-image: url('/tramites-.png');
} */
.imageHero {
  background-image: url('/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* .imageHero2 {
  background-image: url('/carina-c.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.fondo-automotores {
  background-image: url('/fondo-automotores.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
.fondo-forms {
  background-image: url('/e4.png');
  background-size: cover;
  background-repeat: no-repeat;
}

