
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--violet-11: #6550b9;
	--violet-3: #f4f0fe;
    --violet-4: #ebe4ff;
    --violet-6: #d4cafe;
    --violet-9: #6e56cf;
	--black-a7: #00000080;
	--mauve-8: #bcbac7;
  }

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.imageHero {
  background-image: url('/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fondo-forms {
  background-image: url('/e4.png');
  background-size: cover;
  background-repeat: no-repeat;
}
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.2s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  color: #fffd;
  font-size: 12.5px;
  position: absolute;
  background: #444;
  padding: 1px 6px 3px;
  white-space: nowrap;
  z-index: 99999;
  border-radius: 6px;
  bottom: 100%;
  opacity: 0;
  margin-bottom: 4px;
  visibility: hidden;
}
[data-title] {
  position: relative;
}



/* pagina iniciar-tramite */

.tramite-global:first-child #accordion-trigger {
  border-radius: 6px 6px 0 0;
}

.tramite-global:last-child #accordion-trigger {
  border-radius: 0 0 6px 6px;
}



.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
  /* animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1); */
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 100ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}